@keyframes shine
{
    from 
    {
        mask-position: 150%;
    }
    to 
    {
        mask-position: -50%;
    }
}

/* page two button */
@keyframes bounce {
    0% { transform: translateY(-5px); }
    25% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

@keyframes sideBounce
{
    0% { transform: translatex(-10px); }
    25% { transform: translatex(-300px); }
    50% { opacity: 0; }
    65% {transform: translate(300px);}
    100% { opacity: 1; }
}

/* contents */
@keyframes fadeInFromLeft 
{
    from 
    {
      opacity: 0;
      transform: translateX(-50px);
    }
    to 
    {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes fadeInFromRight 
{
    from 
    {
      opacity: 0;
      transform: translateX(50px);
    }
    to 
    {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes fadeInFromTop 
{
    from 
    {
        opacity: 0;
        transform: translateY(-20px);
    }
    to 
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInFromBottom
{
    from 
    {
        opacity: 0;
        transform: translateY(20px);
    }
    to 
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInFromTopOpacity
{
    from 
    {
        transform: translateY(-20px);
    }
    to 
    {
        transform: translateY(0);
    }
}


@keyframes slideInFromRight 
{
    from 
    {
        right: -250px;
    }
    to 
    {
        right: 0;
    }
}

@keyframes slideInFromBottom
{
    from 
    {
        bottom: 250px;
    }
    to 
    {
        bottom: 0;
    }
}

@keyframes slideInFromTop
{
    from 
    {
        top: -200px;
    }

    to 
    {
        top: 0; 
    }
}

@keyframes slideInFromTopIndex2
{
    from 
    {
        top: -200px;
    }

    to 
    {
        top: 100px; 
    }
}

@keyframes slideInFromBottomIndex2
{
    from 
    {
        top: 100px;
    }

    to 
    {
        top: -200px; 
    }
}

@keyframes fadein 
{
    from 
    { 
        opacity: 0; 
    }

    to 
    {
        opacity: 1; 
    }
}


.fade-out 
{
    animation: fadeOut 0.80s ease-in-out backwards;
}

@keyframes fadeOut 
{
    0% {
        opacity: 1;
    }
    1%, 5%, 10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50%, 55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 95% {
        opacity: calc(1 - 0.01 * (percentage - 1));
    }
    100% {
        opacity: 0;
    }
}

.animate
{
    animation: fadeOut 0.80s ease-in-out both alternate;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
