@keyframes fadeOut 
{
    0% {
        opacity: 1;
    }
    1%, 5%, 10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50%, 55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 95% {
        opacity: calc(1 - 0.01 * (percentage - 1));
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes fadeInFromBottom
{
    from 
    {
        opacity: 0;
        
    }
    to 
    {
        opacity: 1;
        
    }
}
